{% extends "base.html" %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}




<div class="container">

    <fieldset class="sessao">
      <legend  class="w-auto dp">Consulta - Codigo: <strong>{{appointment.id}}</strong></legend>
      <!-- Text input-->
      <div class="form-group">
        <div class="row">
          <label class="col-sm-1 fielddetail" for="Title">Título:</label>
          <div class="col-sm-6">
                {{ appointment.title }}
          </div>
        </div></div>


      <div class="form-group">
        <div class="row">
                    <label class="col-sm-1 fielddetail" for="datetimepicker1">Data: </label>
          <div class="col-auto">
            <div class="input-group mb-2">
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    {{ appointment.date }}
          </div>



            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
                    <label class="col-sm-1 fielddetail" for="Time">Horário: </label>

          <div class="col-auto">
            <div class="input-group mb-2">
              {{ appointment.time }}
            </div>
          </div>
        </div>
      </div>



      <div class="form-group">
        <div class="row">

          <label class="col-sm-1 control-label fielddetail" for="Doctor">Médico: </label>
          <div class="col-sm-3">
            {{ appointment.doctor }}

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">

          <label class="col-sm-1 control-label fielddetail" for="Patient">Paciente: </label>
          <div class="col-sm-5">
            {{ appointment.patient }}
          </div>


        </div>
      </div>

      <div class="form-group">
        <div class="row">

          <label class="col-sm-1 control-label fielddetail" for="Description">Descrição: </label>
          <div class="col-sm-5">
            {{ appointment.description }}
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">

          <label class="col-sm-1 control-label fielddetail" for="Status">Status: </label>
          <div class="col-sm-5">
            {{ appointment.status }}
          </div>

        </div>
      </div>


    </fieldset>

    <div class="form-group row">
      <div class="col-sm-4 for">
        <a href="{% url 'core:appointment_update' appointment.id %}" class="btn btn-warning">Alterar</a>
          <a href="{% url 'core:appointments' %}" class="btn btn-secondary">Voltar</a>
      </div>
    </div>

</div>

{% endblock %}