
    <div aria-label="Page navigation">
        <ul class="pagination">
        {% if patients.has_previous %}
            <li class="page-item">
            <a class="page-link button_paginator" href="?page={{ patients.previous_page_number }}">Anterior</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link button_paginator" href="#" tabindex="-1" aria-disabled="true">Próximo</a>
          </li>
        {% endif %}
        {% if patients.number|add:'-4' > 1 %}
            <li class="page-item "><a class="page-link" href="?page={{ patients.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in patients.paginator.page_range %}
            {% if patients.number == i %}
                <li class="page-item active" aria-current="page">
              <a class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% elif i > patients.number|add:'-5' and i < patients.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if patients.paginator.num_pages > patients.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ patients.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if patients.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ patients.next_page_number }}">Próximo</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próximo</a>
          </li>
        {% endif %}
      </ul>
    </div>

