{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <div class="row">
    <h1>Paciente</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Cidade</th>
            <th>UF</th>
        </tr>
        </thead>
        <tbody>

                {% for patient in patients  %}
                    <tr>
                        <td scope="row">{{ patient.id }}</td>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.phone }}</td>
                        <td>{{ patient.city }}</td>
                        <td>{{ patient.uf }}</td>

                    </tr>
                {% endfor %}

        </tbody>
    </table>
</div>
</div>

{% endblock %}