MedicalSys - DESAFIO DEV JR

<section markdown="block">
# A header.

A *Markdown* paragraph.

* A list item.
* A second list item.

</section>

Bem vindo ao projeto do MedicalSys, estamos entusiasmados com a seu interesse nas nossas
vagas. Esperamos que você consiga fazer bom uso da sua experiência e de seus ensinamentos para
nos mostrar o seu melhor como desenvolvedor.
O Intuito deste pequeno desafio é não só nos dar uma avaliação dos seus conhecimentos sobre os
temas que orbitam os nossos projetos, mas tambem lhe manter ativo sobre os principais requisitos
de mercado. Isso com certeza será um PLUS++ no seu caderno de experiências como
desenvolvedor! Vamos que vamos!
O que é este repositório ?
Desafio para Estagio/JR MedicalSys - V2.0
O que fazer ?
Seu objetivo nesse desafio é construir um protótipo simplificado de um sistema web com Django.
O sistema em questão deve contemplar as seguintes funcionalidades:
CRUD de Usuários Médicos do sistema (Required)
* Nome : *CharField*
* E-mail : *CharField*
* Senha : *CharField*
* Data de Criacao : *DateTimeField*
CRUD de Clientes Pacientes (Required)
* Nome : *CharField*
* Telefone : *CharField*
* Endereço : *CharField*
* Número : *CharField*
* Cidade : *CharField*
* UF (Estado) : *CharField*
* País : *CharField*
* CEP : *CharField*
* Data Criacao : *DatetimeField*
(Required): A interface web deve permitir que se possa fazer login e visualizar a listagem de
pacientes onde o usuário poderá realizar as operações de CRUD de pacientes.
(Required): Deverá ser desenvolvido utilizando o layout grid e componentes do framwork Bootstrap
(v3+).
(Required): Os inputs de Telefone e CEP deverão conter suas respectivas máscaras.
(Required): O cadastro de clientes deverá utilizar a API ViaCEP (https://viacep.com.br/) para
preencher os dados de endereço automaticamente através do CEP informado.
CRUD de Agendamentos (Optional)
* Data : *DateTimeFiel*
* Descricao : *TextField*
* Status : *CharField : <'A Confirmar', 'Confirmado', 'Finalizado' >*
* Medico : *ForeignKey ( Model - usuario )*
* Paciente : *ForeignKey ( Model - paciente )*
O usuário terá a opção de clicar em um link na navegação que o levará para o CRUD de
agendamentos. Onde este poderá criar agendamentos entre medicos e pacientes.
Na lista de agendamentos deve aparecer uma tag colorida indicando o status do agendamento.
(Optional): Autenticação utilizando o OAuth2;
(Optional): Autenticação utilizando o Facebook Login;
(Optional): DockerCompose do projeto;
OBS: Todas as Tasks marcadas com Optionals serão um grande diferencial na avaliação do
canditato. Entretanto, as tasks que estão marcadas como "Required" já são mais que necessárias
para avaliação do desempenho do candidato.
Dos requisitos da entrega
Entregar em até 7 dias a partir da data do convite e da entrega do desafio;
Os commits precisam ser claros e que pelo menos expressem o que se foi feito na alteração;
O projeto deverá ter um arquivo readme.md contando de forma bem clara a forma de execução
do projeto em localhost;
Após o término do desafio, o link do repositório (GitHub) deverá ser enviado para
everton.freitas@medicalsys.com.br. Caso o desafiante tenha colocado a aplicação em algum
provedor de serviços web (Heroku ou algo parecido) o link para acesso também deverá ser
enviado.
MISC's ?
Qualquer dúvida pode entrar em contato através do email: everton.freitas@medicalsys.com.br;