{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Medical - Desafio</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-med">
 <div class="container-fluid">
  <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active"> <a class="nav-link" href="#">Home </a> </li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Paciente</a>
		    <ul class="dropdown-menu fade-up">
			  <li><a class="dropdown-item" href="#">Cadastro</a></li>
			  <li><a class="dropdown-item" href="#">Agendar Consulta</a></li>
		    </ul>
		</li>
	</ul>


    <ul class="navbar-nav ms-auto ">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'img/avatar.png' %}" width="40" height="40" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Perfil</a>
          <a class="dropdown-item" href="#">Sair</a>
        </div>
      </li>
    </ul>

  </div>
 </div>
</nav>

{% block content %} {% endblock %}



<footer class="footer bg-med">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <p class="nav-link">&copy; 2021 Medical - Desafio - Developer Dácio Lima </p>
      </li>
    </ul>

</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>