body {
    padding-top:110px;
    padding-bottom:70px;
}

.bg-med {
background-color: #1dc8e2;
padding-left: 10px

}

h11 {
    color:red;
}

.fielddetail {
    font-weight: bold;
}

#logo {
        width:50%;
        height:50%;
}

.panel-heading{
    font-size:150%;
}


.pagination > li > a
{
    background-color: white;
    color: #1dc8e2;
}



.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #1dc8e2 !Important;
    border: solid 1px #1dc8e2 !Important;
}

.pagination > .active > a:hover
{
    background-color: #1C8496 !Important;
    border: solid 1px ##1C8496;
}
.label {
    color: #FFFFFF;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #FFFFFF;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}


/* Algumas customizações da footer  */
.footer {
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}



/* Styles customizações tela login  */
@import url('https://fonts.googleapis.com/css?family=Numans');

.card{
height: 370px;
margin-top: 50px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 40px;
margin-left: 10px;
color: #1dc8e2;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: 3px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.footer p {

margin: 5px 5px 5px 5px;
color: #FFFFFF;

}

